/* src/styles/app.css */

body {
    background-color: #E5E3DC;
    font-family: "Segoe UI", Roboto, sans-serif;
    color: #333;
  }
  
  h1, h2 {
    color: #303636;
  }
  
  .card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-3px);
  }
  
  .btn {
    border-radius: 8px;
    background-color: #D4967D;
    border: #D4967D
  }
  .btn:hover {
    background-color: #C77D6D;
  }
  .btn:active , button.btn:active, .btn:focus:active {
    background-color: #C77D6D;
  }
  input.form-control {
    border-radius: 6px;
  }

  .data{
    background-color: #E5E3DC;
    border-radius: 12px;
    padding: 20px;
  }
  